{{>navigation}}

<div class="container">
<h1>My Reading List</h1>

<ul class="list-group">
  {{#each books}}
    <p class="list-group-item"><strong>{{title}}</strong>: {{author}}</p>
    <form action="/reading-list"  method="post">
      <input type="hidden" name="id" value="{{id}}">
      <button class="btn btn-primary" role="button">Done</button>
    </form>
    <br>

      <button onclick ="$('#reviewForm{{id}}').toggleClass('hidden')">Write Review</button>
      <div id="reviewForm{{id}}" class="hidden">
        <form action="/notes" method="post">
          <div class="form-group">
            <input type="hidden" name="id" value="{{id}}">
            <label for="inputComment">Comment</label>
            <textarea class="form-control" name="inputComment" rows="3" placeholder="Write comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add Review</button>
        </form>
      </div>

  {{/each}}
</ul>
<a href='/notes'>Show Notes</a>
</div>
